{% extends "base.html" %}
{% load static %}

{% block scripts %}
{{ block.super }}
<script>

</script>


<script src="{% static 'js/utils.js' %}"></script>


<script src="https://d3js.org/d3.v5.min.js"></script>

<script src="{% static 'js/billboard.js' %}"></script>

<link rel="stylesheet" href="{% static 'assets/css/billboard.css' %}">

<link rel="stylesheet" href="{% static 'assets/css/theme/insight.min.css' %}">
{% endblock %}

{% block body %}

{% include "navbar.html" %}

<main id="main">


    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Chart</h2>
                <ol>
                    <li><a href="/">Home</a></li>
                    <li>Chart</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Chart</h2>
                <p>국가별 월 실적 비교</p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="200">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                        <input type="radio" name="options" id="chtwn">TWN
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="options" id="chscn">SCN
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="options" id="chncn">NCN
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="options" id="chsgp">SGP
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="options" id="chkor" checked>KOR
                    </label>
                </div>
                <div id="container" style="width: 90%;">
                    <div id="combinationChartA"></div>

                    <table id="amountTable" class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th><B>월</B></th>
                            <th><B>기초</B></th>
                            <th><B>입고</B></th>
                            <th><B>출고</B></th>
                            <th><B>기말</B></th>
                            <th><B>재고회전율</B></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for a in amount_KOR %}
                        <tr>
                            <td>{{a.3}}월</td>
                            <td>{{a.4}}</td>
                            <td>{{a.5}}</td>
                            <td>{{a.6}}</td>
                            <td>{{a.7}}</td>
                            <td>{{a.8}}%</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div id="combinationChartC"></div>

                    <table id="costTable" class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th><B>월</B></th>
                            <th><B>기초</B></th>
                            <th><B>입고</B></th>
                            <th><B>출고</B></th>
                            <th><B>기말</B></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for a in cost_KOR %}
                        <tr>
                            <td>{{a.3}}월</td>
                            <td>{{a.4}}원</td>
                            <td>{{a.5}}원</td>
                            <td>{{a.6}}원</td>
                            <td>{{a.7}}원</td>
                        </tr>
                        {% endfor %}
                        <tbody>
                    </table>
                </div>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="200">
            </div>

        </div>
    </section><!-- End Services Section -->

</main>
{% include "footer.html" %}

<script>
        var chartA = bb.generate({
        title: {
    text: "수량 그래프"
  },
                data: {
                        columns: [
        ["입고",
                {% for data in KOR_list_a.1 %}
        '{{data}}',
                {% endfor %}
	],
        ["출고",
                {% for data in KOR_list_a.2 %}
        '{{data}}',
                {% endfor %}
	],
                                ["기초",
                                        {% for data in KOR_list_a.0 %}
        '{{data}}',
        {% endfor %}
	],
        ["기말",
                {% for data in KOR_list_a.3 %}
        '{{data}}',
                {% endfor %}
	],
        ["재고회전",
                {% for data in KOR_list_a.4 %}
        '{{data}}',
                {% endfor %}
    ],
    ],
        type: "bar",
                types: {
                기초: "line",
                        기말: "line",
                        재고회전: "spline"
        },
        groups: [
                [
                        "입고",
                        "출고"
                ]
        ],
  axes: {
  재고회전: "y2"
  },
  colors: {
      입고: "#f39c12",
      출고: "#16a085",
      기초: "#c0392b",
      기말: "#2980b9",
      재고회전:"#2ecc71"
          },
   
  },
        axis: {
         y:{
         label:"수량"
         },
        y2: {
        label:"재고회전(%)",
        show: true
        },
                x: {
                        type: "category",
                                categories: [
                                        "1월",
                                        "2월",
                                        "3월",
                                        "4월",
                                        "5월",
                                        "6월",
                                        "7월",
                                        "8월",
                                        "9월",
                                        "10월",
                                        "11월",
                                        "12월"
                                ]
                }
        },
        bindto: "#combinationChartA"
});

var chartC = bb.generate({
        title: {
    text: "금액 그래프"
  },
                data: {
                        columns: [
        ["입고",
                {% for data in KOR_list_c.1 %}
        '{{data}}',
                {% endfor %}
	],
        ["출고",
                {% for data in KOR_list_c.2 %}
        '{{data}}',
                {% endfor %}
	],
                                ["기초",
                                        {% for data in KOR_list_c.0 %}
        '{{data}}',
        {% endfor %}
	],
        ["기말",
                {% for data in KOR_list_c.3 %}
        '{{data}}',
                {% endfor %}
	],
    ],
        type: "bar",
                types: {
                기초: "line",
                        기말: "line"
        },
        groups: [
                [
                        "입고",
                        "출고"
                ]
        ],
  colors: {
      입고: "#f39c12",
      출고: "#16a085",
      기초: "#c0392b",
      기말: "#2980b9"
          },

  },
        axis: {
         y:{
         label:"금액"
         },
                x: {
                        type: "category",
                                categories: [
                                        "1월",
                                        "2월",
                                        "3월",
                                        "4월",
                                        "5월",
                                        "6월",
                                        "7월",
                                        "8월",
                                        "9월",
                                        "10월",
                                        "11월",
                                        "12월"
                                ]
                }
        },
        bindto: "#combinationChartC"
});







        document.getElementById('chtwn').addEventListener('click', function () {


        $("#amountTable tbody").remove();
        $("#amountTable").append(
            "<tbody>{% for a in amount_TWN %}<tr><td>{{a.3}}월</td><td>{{a.4}}</td><td>{{a.5}}</td><td>{{a.6}}</td><td>{{a.7}}</td><td>{{a.8}}%</td></tr>{% endfor %}</tbody>"
        );
        $("#costTable tbody").remove();
        $("#costTable").append(
            "<tbody>{% for a in cost_TWN %}<tr><td>{{a.3}}월</td><td>{{a.4}}원</td><td>{{a.5}}원</td><td>{{a.6}}원</td><td>{{a.7}}원</td></tr>{% endfor %}</tbody>"
        );

                chartA.load({
                        columns: [
                                ["기초",
                                        {% for data in TWN_list_a.0 %}
        '{{data}}',
                        {% endfor %}
	],
                ["입고",
                        {% for data in TWN_list_a.1 %}
        '{{data}}',
                {% endfor %}
	],
        ["출고",
                {% for data in TWN_list_a.2 %}
        '{{data}}',
                {% endfor %}
	],
        ["기말",
                {% for data in TWN_list_a.3 %}
        '{{data}}',
                {% endfor %}
	],
        ["재고회전",
                {% for data in TWN_list_a.4 %}
        '{{data}}',
                {% endfor %}
    ],
    ],
	    });

	     chartC.load({
                        columns: [
                                ["기초",
                                        {% for data in TWN_list_c.0 %}
        '{{data}}',
                        {% endfor %}
	],
                ["입고",
                        {% for data in TWN_list_c.1 %}
        '{{data}}',
                {% endfor %}
	],
        ["출고",
                {% for data in TWN_list_c.2 %}
        '{{data}}',
                {% endfor %}
	],
        ["기말",
                {% for data in TWN_list_c.3 %}
        '{{data}}',
                {% endfor %}
	]
    ],
	    });

		});
        document.getElementById('chkor').addEventListener('click', function () {

        $("#amountTable tbody").remove();
        $("#amountTable").append(
            "<tbody>{% for a in amount_KOR %}<tr><td>{{a.3}}월</td><td>{{a.4}}</td><td>{{a.5}}</td><td>{{a.6}}</td><td>{{a.7}}</td><td>{{a.8}}%</td></tr>{% endfor %}</tbody>"
        );
        $("#costTable tbody").remove();
        $("#costTable").append(
            "<tbody>{% for a in cost_KOR %}<tr><td>{{a.3}}월</td><td>{{a.4}}원</td><td>{{a.5}}원</td><td>{{a.6}}원</td><td>{{a.7}}원</td></tr>{% endfor %}</tbody>"
        );

                chartA.load({
                        columns: [
                                ["기초",
                                        {% for data in KOR_list_a.0 %}
        '{{data}}',
                        {% endfor %}
	],
                ["입고",
                        {% for data in KOR_list_a.1 %}
        '{{data}}',
                {% endfor %}
	],
        ["출고",
                {% for data in KOR_list_a.2 %}
        '{{data}}',
                {% endfor %}
	],
        ["기말",
                {% for data in KOR_list_a.3 %}
        '{{data}}',
                {% endfor %}
	],
        ["재고회전",
                {% for data in KOR_list_a.4 %}
        '{{data}}',
                {% endfor %}
    ],
    ],
	    });



	     chartC.load({
                        columns: [
                                ["기초",
                                        {% for data in KOR_list_c.0 %}
        '{{data}}',
                        {% endfor %}
	],
                ["입고",
                        {% for data in KOR_list_c.1 %}
        '{{data}}',
                {% endfor %}
	],
        ["출고",
                {% for data in KOR_list_c.2 %}
        '{{data}}',
                {% endfor %}
	],
        ["기말",
                {% for data in KOR_list_c.3 %}
        '{{data}}',
                {% endfor %}
	]
    ],
	    });

		});
        document.getElementById('chsgp').addEventListener('click', function () {


        $("#amountTable tbody").remove();
        $("#amountTable").append(
            "<tbody>{% for a in amount_SGP %}<tr><td>{{a.3}}월</td><td>{{a.4}}</td><td>{{a.5}}</td><td>{{a.6}}</td><td>{{a.7}}</td><td>{{a.8}}%</td></tr>{% endfor %}</tbody>"
        );
        $("#costTable tbody").remove();
        $("#costTable").append(
            "<tbody>{% for a in cost_SGP %}<tr><td>{{a.3}}월</td><td>{{a.4}}원</td><td>{{a.5}}원</td><td>{{a.6}}원</td><td>{{a.7}}원</td></tr>{% endfor %}</tbody>"
        );

                chartA.load({
                        columns: [
                                ["기초",
                                        {% for data in SGP_list_a.0 %}
        '{{data}}',
                        {% endfor %}
	],
                ["입고",
                        {% for data in SGP_list_a.1 %}
        '{{data}}',
                {% endfor %}
	],
        ["출고",
                {% for data in SGP_list_a.2 %}
        '{{data}}',
                {% endfor %}
	],
        ["기말",
                {% for data in SGP_list_a.3 %}
        '{{data}}',
                {% endfor %}
	],
        ["재고회전",
                {% for data in SGP_list_a.4 %}
        '{{data}}',
                {% endfor %}
    ],
    ],
	    });


	     chartC.load({
                        columns: [
                                ["기초",
                                        {% for data in SGP_list_c.0 %}
        '{{data}}',
                        {% endfor %}
	],
                ["입고",
                        {% for data in SGP_list_c.1 %}
        '{{data}}',
                {% endfor %}
	],
        ["출고",
                {% for data in SGP_list_c.2 %}
        '{{data}}',
                {% endfor %}
	],
        ["기말",
                {% for data in SGP_list_c.3 %}
        '{{data}}',
                {% endfor %}
	]
    ],
	    });

		});
        document.getElementById('chncn').addEventListener('click', function () {

        $("#amountTable tbody").remove();
        $("#amountTable").append(
            "<tbody>{% for a in amount_NCN %}<tr><td>{{a.3}}월</td><td>{{a.4}}</td><td>{{a.5}}</td><td>{{a.6}}</td><td>{{a.7}}</td><td>{{a.8}}%</td></tr>{% endfor %}</tbody>"
        );
        $("#costTable tbody").remove();
        $("#costTable").append(
            "<tbody>{% for a in cost_NCN %}<tr><td>{{a.3}}월</td><td>{{a.4}}원</td><td>{{a.5}}원</td><td>{{a.6}}원</td><td>{{a.7}}원</td>}%</td></tr>{% endfor %}</tbody>"
        );


                chartA.load({
                        columns: [
                                ["기초",
                                        {% for data in NCN_list_a.0 %}
        '{{data}}',
                        {% endfor %}
	],
                ["입고",
                        {% for data in NCN_list_a.1 %}
        '{{data}}',
                {% endfor %}
	],
        ["출고",
                {% for data in NCN_list_a.2 %}
        '{{data}}',
                {% endfor %}
	],
        ["기말",
                {% for data in NCN_list_a.3 %}
        '{{data}}',
                {% endfor %}
	],
        ["재고회전",
                {% for data in NCN_list_a.4 %}
        '{{data}}',
                {% endfor %}
    ],
    ],
	    });


	     chartC.load({
                        columns: [
                                ["기초",
                                        {% for data in NCN_list_c.0 %}
        '{{data}}',
                        {% endfor %}
	],
                ["입고",
                        {% for data in NCN_list_c.1 %}
        '{{data}}',
                {% endfor %}
	],
        ["출고",
                {% for data in NCN_list_c.2 %}
        '{{data}}',
                {% endfor %}
	],
        ["기말",
                {% for data in NCN_list_c.3 %}
        '{{data}}',
                {% endfor %}
	]
    ],
	    });

		});
        document.getElementById('chscn').addEventListener('click', function () {


        $("#amountTable tbody").remove();
        $("#amountTable").append(
            "<tbody>{% for a in amount_SCN %}<tr><td>{{a.3}}월</td><td>{{a.4}}</td><td>{{a.5}}</td><td>{{a.6}}</td><td>{{a.7}}</td><td>{{a.8}}%</td></tr>{% endfor %}</tbody>"
        );
        $("#costTable tbody").remove();
        $("#costTable").append(
            "<tbody>{% for a in cost_SCN %}<tr><td>{{a.3}}월</td><td>{{a.4}}원</td><td>{{a.5}}원</td><td>{{a.6}}원</td><td>{{a.7}}원</td></tr>{% endfor %}</tbody>"
        );

                chartA.load({
                        columns: [
                                ["기초",
                                        {% for data in SCN_list_a.0 %}
        '{{data}}',
                        {% endfor %}
	],
                ["입고",
                        {% for data in SCN_list_a.1 %}
        '{{data}}',
                {% endfor %}
	],
        ["출고",
                {% for data in SCN_list_a.2 %}
        '{{data}}',
                {% endfor %}
	],
        ["기말",
                {% for data in SCN_list_a.3 %}
        '{{data}}',
                {% endfor %}
	],
        ["재고회전",
                {% for data in SCN_list_a.4 %}
        '{{data}}',
                {% endfor %}
    ],
    ],
	    });



	     chartC.load({
                        columns: [
                                ["기초",
                                        {% for data in SCN_list_c.0 %}
        '{{data}}',
                        {% endfor %}
	],
                ["입고",
                        {% for data in SCN_list_c.1 %}
        '{{data}}',
                {% endfor %}
	],
        ["출고",
                {% for data in SCN_list_c.2 %}
        '{{data}}',
                {% endfor %}
	],
        ["기말",
                {% for data in SCN_list_c.3 %}
        '{{data}}',
                {% endfor %}
	]
    ],
	    });


		});






</script>
{% endblock %}