{% extends "base.html" %}
{% load static %}

{% block scripts %}
{{ block.super }}
<script>

</script>


<script src="{% static 'js/utils.js' %}"></script>


<script src="https://d3js.org/d3.v5.min.js"></script>

<script src="{% static 'js/billboard.js' %}"></script>

<link rel="stylesheet" href="{% static 'assets/css/billboard.css' %}">

<link rel="stylesheet" href="{% static 'assets/css/theme/insight.min.css' %}">
{% endblock %}

{% block body %}

{% include "navbar.html" %}

<main id="main">


    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Chart</h2>
                <ol>
                    <li><a href="/">Home</a></li>
                    <li>Chart</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Chart</h2>
                <p>국가별 월 실적 비교</p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="200">
                <select id="code">
                  <option value="KOR" selected>KOR</option>
                  <option value="TWN">TWN</option>
                  <option value="SCN">SCN</option>
                  <option value="NCN">NCN</option>
                  <option value="SGP">SGP</option>
                </select>

                <select id="year">
                  <option value="2018" selected>2018년</option>
                  <option value="2019">2019년</option>
                  <option value="2020">2020년</option>
                </select>

                <button class="btn btn-primary lookup" type="submit" onclick="lookupClick();">조회</button>


            <div class="row" data-aos="fade-up" data-aos-delay="200">
            </div>

        </div>
    </section><!-- End Services Section -->

</main>
{% include "footer.html" %}

<script>

function lookupClick() {
    let code = document.getElementById("code");
    let codeValue = code.options[code.selectedIndex].value;
    let year = document.getElementById("year");
    let yearValue = year.options[year.selectedIndex].value;

    let list = new Array();
    let data = new Object();
    data.code = codeValue;
    data.year = yearValue;
    list.push(data);

    let jsonData = JSON.stringify(list);

    location.href = "/chart6?data=" + jsonData;
}

</script>
{% endblock %}