{% extends "base.html" %}
{% load static %}
{% block body %}
    {% include "navbar.html" %}

 <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>제조지능 플랫폼</h1>
          <h2>꾸준하게...</h2>
          <div><a href="#about" class="btn-get-started scrollto">바로가기</a></div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

  </main>

{% include "footer.html" %}

{% endblock %}